/src/resource.aps
/project-vs2005/fix-things.ncb
/project-vs2005/fix-things.suo
/project-vs2005/fix-things.vcproj.*
/project-vs2005/Debug
/project-vs2005/Release
/fix-things-vs2005.exe
/project-vs2019/fix-things.vcxproj.*
/project-vs2019/.vs
/project-vs2019/Debug
/project-vs2019/Release
/project-vs2019/x64
/project-vs2022/.vs
/project-vs2022/Debug
/project-vs2022/Release
/project-vs2022/x64
/project-vs2022/project-vs2022.vcxproj.*